services:
  db:
    image: postgres:16.4
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: saas-starter-kit
    ports:
      - 5432:5432

  mailpit:
    image: axllent/mailpit
    restart: always
    ports:
      - '8025:8025' # Web UI
      - '1025:1025' # SMTP
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

#   jackson:
#     image: boxyhq/jackson:latest
#     restart: always
#     ports:
#       - '5225:5225'
#     environment:
#       JACKSON_API_KEYS: 'jackson-secret'
#       DB_ENGINE: 'sql'
#       DB_TYPE: 'postgres'
#       DB_URL: 'postgresql://postgres:postgres@db:5432/saas-starter-kit'
#     depends_on:
#       - db
# 
#   mocksaml:
#     image: boxyhq/mock-saml:latest
#     restart: always
#     ports:
#       - '4000:4000'
#     environment:
#       CLIENT_ID: 'mock-saml-client-id'
#       CLIENT_SECRET: 'mock-saml-client-secret'
#       APP_URL: 'http://localhost:4000'
